* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.events-control {
  text-align: center;
  border: 1px solid #5101d1;
  padding: 1rem;
  margin: 2rem auto;
  width: 60rem;
  max-width: 80%;
}

/* .outer {
  display: flex;
  justify-content: center;
}
.menuContainer {
  width: 300px;
  height: 150px;
  margin: auto;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(6, minmax(60px, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'art1 art1 art1 thtr1 thtr1 wws1'
    'hist1 mus1 mus1 mus1 mus1 lect1'
    'lit1 mus1 mus1 mus1 mus1 fest1'
    'lit1 mus1 mus1 mus1 mus1 fest1'
    'bus1 bus1 exhib1 exhib1 spev1 spev1';
}

.mbox {
  border: 1px solid purple;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

.mbox:hover {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}
 */
/* .artBtn {
  grid-area: art1;
  background: lightblue;
}

.theaterBtn {
  grid-area: thtr1;
  background: rgb(139, 182, 138);
}

.festivalsBtn {
  grid-area: fest1;
  background: rgb(156, 110, 145);
  display: flex;
  flex-wrap: wrap;
}
.wwsBtn {
  grid-area: wws1;
  background: rgb(156, 110, 145);
}

.lecturesBtn {
  grid-area: lect1;
  background: rgb(156, 110, 145);
}

.literatiBtn {
  grid-area: lit1;
  background: rgb(156, 110, 145);
} */
/* .musicBtn {
  padding: 2px;
  grid-area: mus1;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: repeat(3, 20px);
  grid-gap: 2px;
  background: orange;
  padding: 1em 1em;
  color: rgba(0, 0, 0, 0.795);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: 1px solid purple;
  grid-template-areas:
    'classical . .'
    '. . jazz'
    'folk . .';
}

.classicalBtn {
  grid-area: classical;
  border-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  background: rgb(229, 233, 9);
  color: rgb(0, 128, 79);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}
.jazzBtn {
  grid-area: jazz;
}
.folkBtn {
  grid-area: folk;
} */

.historyBtn {
  grid-area: hist1;
  background: rgb(156, 110, 145);
}
.businessBtn {
  grid-area: bus1;
  background: rgb(156, 110, 145);
}
.exhibitBtn {
  grid-area: exhib1;
  background: rgb(156, 110, 145);
}
.specialsBtn {
  grid-area: spev1;
  background: rgb(156, 110, 145);
}

.itemContainer {
  margin-left: 80px;
  margin-right: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.eventItems {
  border: 1px solid purple;
  border-radius: 10px;
  background: lightblue;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 2em 1em 3em;
  justify-content: center;
  align-items: center;
}

.mondr1 {
  border: 4px solid black;
  padding: 10px 10px 10px 10px;
  height: 480px;
  width: 50%;
  margin: auto;
}
/*ul, */
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  list-style: none;
  display: grid;
  height: 420px;
  margin-right: 35px;
  margin-bottom: 10px;

  grid-template-columns: repeat(5, 1fr) 1.2fr 1.2fr 0.5fr;
  /* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
  /* grid-template-rows: repeat(4, 1fr) 1.2fr 1.2fr 1fr 1fr; */
  grid-template-rows: 80px;
  grid-auto-flow: dense;
  /* grid-template-columns: repeat(5, 1fr) 1.2fr 1.2fr 0.5fr;
  grid-template-rows: 2vw repeat(5, 2vw) 2vw 1.5vw 1.5vw;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  */
}
li {
  height: 100%;
  border: 4px solid black;
  background-size: cover;
}
li:nth-child(1) {
  grid-column: span 2;
  background-color: #e5eeeb;
  /* border-top: none;
  border-left: none; */
}
li:nth-child(2) {
  grid-column: span 3;
  background-color: #f2e7d5;
  /* border-top: none; */
}
li:nth-child(3) {
  grid-column: span 2;
  background-color: #f2c968;
  /* border-top: none; */
}
li:nth-child(4) {
  grid-row: span 6;
  background-color: #fcfde7;
  /* border-top: none;
  border-right: none; */
}
li:nth-child(5) {
  grid-row: span 2;
  background-color: #fbfde7;
  /*  border-left: none; */
}
li:nth-child(6) {
  grid-column: span 4;
  grid-row: span 4;
  background-color: #d62d24;
}
li:nth-child(7) {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #edcc6b;
}
li:nth-child(8) {
  grid-row: span 3;
  background-color: #e1eae5;
  /*  border-left: none; */
}
li:nth-child(9) {
  grid-row: span 2;
  background-color: #dfe5d0;
}
li:nth-child(10) {
  grid-row: span 2;
  background-color: #f2eee2;
}
li:nth-child(11) {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #130409;
}
li:nth-child(12) {
  grid-column: span 2;
  background-color: #c0bfba;
}
li:nth-child(13) {
  grid-column: span 2;
  background-color: #d6dee0;
}
li:nth-child(14) {
  grid-row: span 3;
  background-color: #f4c65a;
  /* border-left: none;
  border-bottom: none; */
}
li:nth-child(15) {
  grid-column: span 2;
  background-color: #dee2d4;
}
li:nth-child(16) {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #241785;
}
li:nth-child(17) {
  grid-row: span 3;
  background-color: #d73630;
  /* border-bottom: none;
  border-right: none; */
}
li:nth-child(18) {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #e3ded9;
  /* border-bottom: none; */
}
li:nth-child(19) {
  grid-column: span 2;
  background-color: #0b0205;
}
li:nth-child(20) {
  grid-column: span 4;
  background-color: #e0e0df;
  /*  border-bottom: none; */
}

/* .lbox {
  border: 1px solid purple;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

.lbox:hover {
  transition: opacity 0.2s ease-in;
  opacity: 1;
} */

/*li {
  margin: 0;
  padding: 0;
  list-style: none;
} */

/*ul {
  width: 40%;
  margin: auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr) 1.2fr 1.2fr;
  grid-template-rows: repeat(3, 1fr) 1.2fr 1.2fr;
  /*   box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5); */
/* }  */
/* li {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background-size: cover; */
/* }  */
/* li:nth-child(1) {
  grid-column: span 2;
  background-color: #e5eeeb;
  border-top: none;
  border-left: none;
  display: flex;
  justify-content: center;
  align-content: center;
}
li:nth-child(2) {
  grid-column: span 3;
  background-color: #f2e7d5;
  border-top: none;
}
li:nth-child(3) {
  grid-column: span 2;
  background-color: #f2c968;
  border-top: none;
}
li:nth-child(4) {
  grid-column: span 2;
  grid-row: span 6;
  background-color: #fcfde7;
}
li:nth-child(5) {
  grid-row: span 2;
  background-color: #fbfde7;
  border-left: none;
} */
/* li:nth-child(6) {
  grid-column: span 5;
  grid-row: span 5;
  background-color: #d62d24;
  font-weight: 600;
}
li:nth-child(7) {
  background-color: #c0bfba;
} */
/*li:nth-child(8) {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #edcc6b;
}
li:nth-child(9) {
  grid-row: span 3;
  background-color: #e1eae5;
  border-left: none;
}
li:nth-child(10) {
  grid-row: span 2;
  background-color: #241785;
}
li:nth-child(11) {
  grid-row: span 2;
  background-color: #f2eee2;
}
li:nth-child(12) {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #130409;
}
li:nth-child(13) {
  grid-column: span 2;
  background-color: #c0bfba;
}
li:nth-child(14) {
  grid-column: span 2;
  background-color: #d6dee0;
} */
/*li:nth-child(15) {
  grid-row: span 3;
  background-color: #f4c65a;
  border-left: none;
  border-bottom: none;
}
li:nth-child(16) {
  grid-column: span 2;
  background-color: #dee2d4;
}
li:nth-child(17) {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #241785;
}
li:nth-child(18) {
  grid-row: span 3;
  background-color: #d73630;
  border-bottom: none;
  border-right: none;
}
li:nth-child(19) {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #e3ded9;
  border-bottom: none;
}
li:nth-child(20) {
  grid-column: span 2;
  background-color: #0b0205;
}
li:nth-child(21) {
  grid-column: span 4;
  background-color: #e0e0df;
  border-bottom: none;
} */

/*_____________________________________________________*/

.shape2-outer {
  display: flex;
  justify-content: center;
}
.shapeContainer {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.events-control {
  text-align: center;
  border: 1px solid #5101d1;
  padding: 1rem;
  margin: 2rem auto;
  width: 60rem;
  max-width: 80%;
}

.outer {
  display: flex;
  justify-content: center;
}
.menuContainer {
  width: 300px;
  height: 150px;
  margin: auto;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(6, minmax(60px, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'art1 art1 art1 thtr1 thtr1 wws1'
    'hist1 mus1 mus1 mus1 mus1 lect1'
    'lit1 mus1 mus1 mus1 mus1 fest1'
    'lit1 mus1 mus1 mus1 mus1 fest1'
    'bus1 bus1 exhib1 exhib1 spev1 spev1';
}

.mbox {
  border: 1px solid purple;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

.mbox:hover {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

.artBtn {
  grid-area: art1;
  background: lightblue;
}

.theaterBtn {
  grid-area: thtr1;
  background: rgb(139, 182, 138);
}

.festivalsBtn {
  grid-area: fest1;
  background: rgb(156, 110, 145);
  display: flex;
  flex-wrap: wrap;
}
.wwsBtn {
  grid-area: wws1;
  background: rgb(156, 110, 145);
}

.lecturesBtn {
  grid-area: lect1;
  background: rgb(156, 110, 145);
}

.literatiBtn {
  grid-area: lit1;
  background: rgb(156, 110, 145);
}
.musicBtn {
  padding: 2px;
  grid-area: mus1;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: repeat(3, 20px);
  grid-gap: 2px;
  background: orange;
  padding: 1em 1em;
  color: rgba(0, 0, 0, 0.795);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: 1px solid purple;
  grid-template-areas:
    'classical . .'
    '. . jazz'
    'folk . .';
}

.classicalBtn {
  grid-area: classical;
  border-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  background: rgb(229, 233, 9);
  color: rgb(0, 128, 79);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}
.jazzBtn {
  grid-area: jazz;
}
.folkBtn {
  grid-area: folk;
}

.historyBtn {
  grid-area: hist1;
  background: rgb(156, 110, 145);
}
.businessBtn {
  grid-area: bus1;
  background: rgb(156, 110, 145);
}
.exhibitBtn {
  grid-area: exhib1;
  background: rgb(156, 110, 145);
}
.specialsBtn {
  grid-area: spev1;
  background: rgb(156, 110, 145);
}

.itemContainer {
  margin-left: 80px;
  margin-right: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.eventItems {
  border: 1px solid purple;
  border-radius: 10px;
  background: lightblue;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 2em 1em 3em;
  justify-content: center;
  align-items: center;
}

/* .mondr1 {
  display: flex;
  justify-content: center;
  height: 250px;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}
 */

/*_____________________________________________________*/

.shape2-outer {
  display: flex;
  justify-content: center;
}
.shapeContainer {
  margin-left: 80px;
  margin-right: 80px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 30px);
  grid-template-areas:
    '. . . . art1B art1B thtr1B thtr1B . . . .'
    '. . . hist1B hist1B . . fest1B fest1B . . .'
    '. . lect1B lect1B . . . . bus1B bus1B . .'
    '. jazzB jazzB . . . . . . folkB folkB .'
    '. . special1B special1B . . . . exhib1B exhib1B . .'
    ' . . . lit1B wws1B . . wellness1B dancing1B . . . '
    ' . . . .  livemB livemB classical1B classical1B . . . .';
}

.gbox {
  border: 1px solid purple;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gbox:hover {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

.artB {
  grid-area: art1B;
  background: lightblue;
}

.theaterB {
  grid-area: thtr1B;
  background: rgb(139, 182, 138);
}

.historyB {
  grid-area: hist1B;
  background: rgb(156, 110, 145);
}

.festivalsB {
  grid-area: fest1B;
  background: rgb(110, 156, 114);
  display: flex;
  flex-wrap: wrap;
}
.wwsB {
  grid-area: wws1B;
  background: rgb(156, 110, 145);
}

.lecturesB {
  grid-area: lect1B;
  background: rgb(168, 40, 40);
}
.classicalB {
  grid-area: classical1B;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  margin-right: 5px;
  background: rgb(229, 233, 9);
  color: rgb(0, 128, 79);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}
.jazzB {
  grid-area: jazzB;
  background: rgb(168, 139, 57);
}
.folkB {
  grid-area: folkB;
  background: rgb(112, 156, 110);
}
.businessB {
  grid-area: bus1B;
  background: rgb(156, 110, 145);
}
.exhibitB {
  grid-area: exhib1B;
  background: rgb(190, 89, 50);
}

.literatiB {
  grid-area: lit1B;
  background: rgb(112, 156, 110);
}
.specialsB {
  grid-area: special1B;
  background: rgb(156, 110, 122);
}
.wellnessB {
  grid-area: wellness1B;
  background: rgb(59, 47, 114);
}
.dancingB {
  grid-area: dancing1B;
  background: rgb(123, 196, 180);
}
.livemusicB {
  grid-area: livemB;
  background: rgb(112, 156, 110);
}

/* .btn {
  background: #5101d1;
  font: inherit;
  border: 1px solid #5100d1;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgbs(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #6219d6;
  border-color: #6219d6;
}
 */

.btn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}

.btn:hover {
  border-color: rgba(255, 255, 255, 1);
}

.text-phrases {
  text-align: center;
  padding: 0;
}

.listKey {
  font: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  width: 20rem;
  max-width: 40%;
  color: #240893;
}
.list-items {
  margin-left: 1.5rem;
}
/* .list-items ul {
  font: inherit;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
  max-width: 80%;
  margin-bottom: 10px;
}

.list-items ul li {
  margin: 0 1rem;
}

.list-items ul p {
  margin-left: 30px;
  margin-bottom: 10px;
} */

.dateColor {
  color: #a96999;
}

.descriptionFont {
  font-size: 0.75rem;
  font-weight: bolder;
  color: #250993;
  vertical-align: bottom;
}

hr {
  width: 5%;
  height: 6px;
  margin-left: 25px;
  background-color: rgb(233, 243, 243);
  border: 0 none;
  margin-top: 5px;
  margin-bottom: 10px;
}

hr.style-one {
  width: 60%;
  height: 0.1rem;
  margin-top: -2px;
  margin-bottom: 3px;
  border: 0;
  border-bottom: 1px black;
  background: #240893;
}

/* .btn {
  background: #5101d1;
  font: inherit;
  border: 1px solid #5100d1;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgbs(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #6219d6;
  border-color: #6219d6;
}
 */

.btn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}

.btn:hover {
  border-color: rgba(255, 255, 255, 1);
}

.text-phrases {
  text-align: center;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.listKey {
  font: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  width: 20rem;
  max-width: 40%;
  color: #240893;
}
.list-items {
  margin-left: 1.5rem;
}
/* .list-items ul {
  font: inherit;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
  max-width: 80%;
  margin-bottom: 10px;
}

.list-items ul li {
  margin: 0 1rem;
}

.list-items ul p {
  margin-left: 30px;
  margin-bottom: 10px;
} */

.dateColor {
  color: #a96999;
}

.descriptionFont {
  font-size: 0.75rem;
  font-weight: bolder;
  color: #250993;
  vertical-align: bottom;
}

hr {
  width: 13%;
  height: 6px;
  margin-left: 25px;
  background-color: #666;
  border: 0 none;
  margin-top: 5px;
  margin-bottom: 10px;
}

hr.style-one {
  width: 60%;
  height: 0.1rem;
  margin-top: -2px;
  margin-bottom: 3px;
  border: 0;
  border-bottom: 1px black;
  background: #240893;
}
